// CSS button component
// Classes to achieve text or border-color is found in _utilities/_colors.scss
// Example class="button violet borderViolet"

.button {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 1;
  padding: 1em 1em .975em;
  margin: 1rem auto;

  background-color: transparent;
  box-sizing: border-box;
  border-width: .2rem;
  border-style: solid;
  border-radius: .25em;
  cursor: pointer;
}