// CSS button component
// Classes to achieve background-color or gradient is found in _utilities/_colors.scss
// Example class="circle backgroundGreen"

.circle {
  display: flex;
  flex-flow: row wrap;
  border-radius: 50%;
  width: 1em;
  height: 1em;
  padding: .05em;
  box-sizing: border-box;
  font-size: 8rem;
  margin: auto;

  &__content {
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    text-align: center;
    flex: 0 0 100%;

    &--main {
      font-size: .175em;
      margin: auto auto 0.02em;
      font-weight: 400;
    }
    &--sub {
      font-size: .125em;
      margin: 0 auto auto;
      font-weight: 300;
    }
  }
}