// Classes to set icons and gradients as backgrounds
// Each intention should be linked to a specific icon and gradient/color

.iconBackground {
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
  &--Abundance {
    background-image: url('../symbols/Abundance.svg'),
                      linear-gradient(45deg, $blue 0%, $lightBlue 100%);
  }
  &--Celebration {
    background-image: url('../symbols/Celebration.svg'),
                      linear-gradient(45deg, $green 0%, $lightGreen 100%);
  }
  &--Empathy {
    background-image: url('../symbols/Empathy.svg'),
                      linear-gradient(45deg, $indigo 0%, $lightIndigo 100%);
  }
  &--Empowerment {
    background-image: url('../symbols/Empowerment.svg'),
                      linear-gradient(45deg, $orange 0%, $lightOrange 100%);
  }
  &--Freedom {
    background-image: url('../symbols/Freedom.svg'),
                      linear-gradient(45deg, $red 0%, $lightRed 100%);
  }
  &--Harmony {
    background-image: url('../symbols/Harmony.svg'),
                      linear-gradient(45deg, $violet 0%, $lightViolet 100%);
  }
  &--Love {
    background-image: url('../symbols/Love.svg'),
                      linear-gradient(45deg, $red 0%, $lightRed 100%);
  }
  &--Resolution {
    background-image: url('../symbols/Resolution.svg'),
                      linear-gradient(45deg, $yellow 0%, $lightYellow 100%);
  }
  &--Transformation {
    background-image: url('../symbols/Transformation.svg'),
                      linear-gradient(45deg, $green 0%, $lightGreen 100%);
  }
  &--Wellbeing {
    background-image: url('../symbols/Wellbeing.svg'),
                      linear-gradient(45deg, $blue 0%, $lightBlue 100%);
  }
}