// position bar at top of screen
.topBar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: flex;
  padding: 1.1rem 1rem .9rem;

  &__progress {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 1rem; // same as padding
    border-radius: 50%;
    width: 2em;
    height: 2em;
    padding: .35em .25em .15em;
    box-sizing: border-box;

  }
}
