// this class limits overflow and bleed,
// so that sub-elements can be animated into view (see _components/_toggleContainer.scss)
.view {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  margin-top: 3rem; // top bar approx height
  box-sizing: border-box;
}