// Classes for all colors
// * Font colors
// * Border colors
// * Background colors
// * Background gradients

// Font colors
.beige {
  color: $beige;
}
.black {
  color: $black;
}
.blue {
  color: $blue;
}
.green {
  color: $green;
}
.indigo {
  color: $indigo;
}
.orange {
  color: $orange;
}
.red {
  color: $red;
}
.violet {
  color: $violet;
}
.yellow {
  color: $yellow;
}
.white {
  color: $white;
}

// Border colors
.border {
  &Beige {
    border-color: $beige;
  }
  &Black {
    border-color: $black;
  }
  &Blue {
    border-color: $blue;
  }
  &Green {
    border-color: $green;
  }
  &Indigo {
    border-color: $indigo;
  }
  &Orange {
    border-color: $orange;
  }
  &Red {
    border-color: $red;
  }
  &Violet {
    border-color: $violet;
  }
  &Yellow {
    border-color: $yellow;
  }
  &White {
    border-color: $white;
  }

  &Light {
    &Violet {
      border-color: $lightViolet;
    }
  }
}

// Backgrounds
.background {
  &Beige {
    background-color: $beige;
  }
  &Black {
    background-color: $black;
  }
  &Blue {
    background-color: $blue;
  }
  &Green {
    background-color: $green;
  }
  &Indigo {
    background-color: $indigo;
  }
  &Orange {
    background-color: $orange;
  }
  &Red {
    background-color: $red;
  }
  &Violet {
    background-color: $violet;
  }
  &Yellow {
    background-color: $yellow;
  }
  &White {
    background-color: $white;
  }

  &Light {
    &Yellow {
      background-color: #f0d98c;
    }
  }
}

// gradient backgrounds
.gradient {
  &Blue {
    background: $blue linear-gradient(45deg, $blue 0%, $lightBlue 100%); /* blue, blue to light blue gradient)*/
  }
  &Green {
    background: $green linear-gradient(45deg, $green 0%, $lightGreen 100%); /* green, green to light green gradient)*/
  }
  &Indigo {
    background: $indigo linear-gradient(45deg, $indigo 0%, $lightIndigo 100%); /* indigo, indigo to light indigo gradient)*/
  }
  &Orange {
    background: $orange linear-gradient(45deg, $orange 0%, $lightOrange 100%); /* orange, orange to light orange gradient)*/
  }
  &Red {
    background: $red linear-gradient(45deg, $red 0%, $lightRed 100%); /* red, red to light red gradient)*/
  }
  &Violet {
    background: $violet linear-gradient(45deg, $violet 0%, $lightViolet 100%); /* violet, violet to light violet gradient)*/
  }
  &Yellow {
    background: $yellow linear-gradient(45deg, $yellow 0%, $lightYellow 100%); /* yellow, yellow to light yellow gradient)*/
  }
}

// Fills, for SVGs
.fill {
  &Green {
    fill: $green;
  }
  &White {
    fill: $white;
  }
}