// variations on typography
// NOTE: standard weight used for Josefin Sans is 300
.bold {
  font-weight: 400;
}
.extraBold {
  font-weight: 700;
}
.italic {
  font-style: italic;
}
.uppercase {
   text-transform: uppercase;
 }