<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Agartha - Example page</title>
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:100,100i,300,300i,400,400i,600,600i,700,700i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">

    <script type="text/javascript" src="//unpkg.com/jquery@3.2.1/dist/jquery.js"></script>
    <script type="text/javascript" src="//unpkg.com/vue@2.5.13/dist/vue.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
            integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
            crossorigin="anonymous"></script>

    <script>
        Vue.component('std-component', {
            template: '<div class="row alert alert-primary">' +
            '  <div class="col-2">{{name}}<br/><button class="btn btn-dark" @click="clickEvent">DO</button></div>' +
            '  <div class="col-10">{{body}}<br/><textarea v-if="hasBody" class="form-control" v-model="bodyText" rows="2"></textarea><br/>{{api}}</div>' +
            '</div>',
            props: { name: String, api: String, hasBody: Boolean, body: String, onClick: Function },
            data: function() {
                return {
                    bodyText: ""
                }
            },
            methods: {
                clickEvent: function() { this.onClick(this.bodyText); }
            }
        });

        $(document).ready(function () {
            var mVue = new Vue({
                el: "#vue-app",
                data: function () {
                    return {
                        buttonText: "DO",
                        serverAddress: "http://localhost:5555/v1",
                        controllers: {
                            settings: "/settings",
                            practitioner: "/practitioner",
                            companion: "/companion",
                            circle: "/circle"
                        },
                        // Default values for request bodies
                        defaultAddIntention: "{\"title\":\"Intention Title\", \"description\":\"Intention Description\"}",
                        defaultSetUser: "{\"fullName\":\"Practitioner Fullname\", \"email\":\"practitioner@agartha.se\", \"description\":\"About Me\"}",
                        defaultStartSession: "{\"geolocation\":{\"latitude\":55.6044973,\"longitude\":13.005021},\"discipline\":\"Meditation\",\"intention\":\"LOVE\"}",
                        defaultCreateCircle: "{ \"name\":\"MyCircle Name\",\"description\":\"MyCircle Desc\", \"startTime\":\"2020-03-15T12:00:00.000Z\", \"endTime\":\"2020-03-15T14:00:00.000Z\", \"disciplines\":[], \"intentions\":[], \"minimumSpiritContribution\":14 }",
                        //
                        currentNav: "",
                        currentUserId: "",
                        currentCircleId: "",
                        lastRequest: "",
                        lastResponse: "",
                        allCircles: []
                    }
                },
                computed: {
                    apiGetSettings: function() {
                        return this.serverAddress + this.controllers.settings;
                    },
                    apiAddIntention: function() {
                        return this.serverAddress + this.controllers.settings + "/intention";
                    },
                    apiCreateUser: function () {
                        return this.serverAddress + this.controllers.practitioner;
                    },
                    apiGetUser: function () {
                        return this.serverAddress + this.controllers.practitioner + "/" + this.currentUserId
                    },
                    apiSetUser: function () {
                        return this.serverAddress + this.controllers.practitioner + "/" + this.currentUserId
                    },
                    apiStartSession: function() {
                        return this.serverAddress + this.controllers.practitioner + "/session/start/" + this.currentUserId
                    },
                    apiCompanionReport: function() {
                        return this.serverAddress + this.controllers.companion;
                    },
                    apiCompanionSessionReport: function() {
                        return this.serverAddress + this.controllers.companion + "/" + this.currentUserId
                    },
                    apiCompanionOngoingReport: function() {
                        return this.serverAddress + this.controllers.companion + "/ongoing/" + this.currentUserId
                    },
                    apiGetAllCircles: function() {
                        return this.serverAddress + this.controllers.circle;
                    },
                    apiGetActiveCircles: function() {
                        return this.serverAddress + this.controllers.circle + "/active";
                    },
                    apiCreateCircle: function() {
                        return this.serverAddress + this.controllers.circle + "/" + this.currentUserId
                    }
                },
                methods: {
                    askServer: function (url, type, data, callback) {
                        $.ajax({
                            url: url,
                            type: type,
                            data: data,
                            contentType: false,
                            cache: false,
                            processData: false,
                            success: callback
                        });
                    },
                    logRequest: function (request) {
                        this.lastRequest = request;
                        console.log("Request: " + request);
                    },
                    logResponse: function (response) {
                        var data = JSON.parse(response);
                        this.lastResponse = JSON.stringify(response);
                        console.warn("Response: " + JSON.stringify(response));
                        return data;
                    },
                    getSettings: function() {
                        var that = this;
                        that.logRequest(that.apiGetSettings);
                        that.askServer(that.apiGetSettings, 'GET', '', function (response) {
                            var data = that.logResponse(response);
                        });
                    },
                    addIntention: function(body) {
                        var that = this;
                        that.logRequest(that.apiAddIntention);
                        that.askServer(that.apiAddIntention, 'POST', body, function (response) {
                            var data = that.logResponse(response);
                        });
                    },
                    createUser: function () {
                        var that = this;
                        that.logRequest(that.apiCreateUser);
                        that.askServer(that.apiCreateUser, 'GET', '', function (response) {
                            var data = that.logResponse(response);
                            that.currentUserId = data.practitionerId;
                        });
                    },
                    getUser: function () {
                        var that = this;
                        that.logRequest(that.apiGetUser);
                        that.askServer(that.apiGetUser, 'GET', '', function (response) {
                            var data = that.logResponse(response);
                        });
                    },
                    setUser: function (body) {
                        var that = this;
                        that.logRequest(that.apiSetUser);
                        that.askServer(that.apiSetUser, 'POST', body, function (response) {
                            var data = that.logResponse(response);
                        });
                    },
                    startSession: function(body) {
                        var that = this;
                        that.logRequest(that.apiStartSession);
                        that.askServer(that.apiStartSession, 'POST', body, function (response) {
                            var data = that.logResponse(response);
                        });
                    },
                    getCompaionReport: function() {
                        var that = this;
                        that.logRequest(that.apiCompanionReport);
                        that.askServer(that.apiCompanionReport, 'GET', '', function (response) {
                            var data = that.logResponse(response);
                        });
                    },
                    getCompaionSessionReport: function() {
                        var that = this;
                        that.logRequest(that.apiCompanionSessionReport);
                        that.askServer(that.apiCompanionSessionReport, 'GET', '', function (response) {
                            var data = that.logResponse(response);
                        });
                    },
                    getCompaionOngoingReport: function() {
                        var that = this;
                        that.logRequest(that.apiCompanionOngoingReport);
                        that.askServer(that.apiCompanionOngoingReport, 'GET', '', function (response) {
                            var data = that.logResponse(response);
                        });
                    },
                    getAllCircles: function() {
                        var that = this;
                        that.logRequest(that.apiGetAllCircles);
                        that.askServer(that.apiGetAllCircles, 'GET', '', function (response) {
                            var data = that.logResponse(response);
                            that.allCircles = data;
                        });
                    },
                    getActiveCircles: function() {
                        var that = this;
                        that.logRequest(that.apiGetActiveCircles);
                        that.askServer(that.apiGetActiveCircles, 'GET', '', function (response) {
                            var data = that.logResponse(response);
                        });
                    },
                    createCircle: function(body) {
                        var that = this;
                        that.logRequest(that.apiCreateCircle);
                        that.askServer(that.apiCreateCircle, 'POST', body, function (response) {
                            var data = that.logResponse(response);
                        });
                    }
                }
            });
        });

    </script>
</head>
<body>

<div id="vue-app" class="container">

    <div class="row">
        <h1>Agartha API Example and Test page</h1>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#" @click="currentNav='Settings'">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @click="currentNav='Practitioner'">Practitioner</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @click="currentNav='Companion'">Companion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" @click="currentNav='Circle'">Circle</a>
                </li>
            </ul>
        </div>

        <form class="form-inline">
            <input class="form-control mr-sm-3" type="search" placeholder="Search" aria-label="Practitioner Id" v-model="currentUserId"/>
        </form>
    </nav>

    <br/>

    <form>
        <div class="form-group">
            <label for="userId">Practitioner Id</label>
            <input type="text" class="form-control" id="userId" v-model="currentUserId" placeholder="practitioner Id for API requests">
        </div>

        <div class="form-group">
            <label for="circles">Example select</label>
            <select class="form-control" id="circles" v-model="currentCircleId">
                <option value="">None selected</option>
                <option v-for="circle in allCircles" :value="circle._id">{{circle.name}} {{circle.startTime}} - {{circle.endTime}}</option>
            </select>
        </div>
    </form>

    <br/>

    <div v-if="currentNav === 'Settings'">
        <std-component name="Get Settings" :has-body="false" :api="apiGetSettings" :on-click="getSettings"></std-component>
        <std-component name="Add Intention" :has-body="true" :api="apiAddIntention" :on-click="addIntention" :body="defaultAddIntention"></std-component>
    </div>

    <div v-if="currentNav === 'Practitioner'">
        <std-component name="Create User" :has-body="false" :api="apiCreateUser" :on-click="createUser"></std-component>
        <std-component name="Get User" :has-body="false" :api="apiGetUser" :on-click="getUser"></std-component>
        <std-component name="Set User" :has-body="true" :api="apiSetUser" :on-click="setUser" :body="defaultSetUser"></std-component>
        <std-component name="Start Session" :has-body="true" :api="apiStartSession" :on-click="startSession" :body="defaultStartSession"></std-component>
    </div>

    <div v-if="currentNav === 'Companion'">
        <std-component name="Get Companion Report" :has-body="false" :api="apiCompanionReport" :on-click="getCompaionReport"></std-component>
        <std-component name="Get Companion Session Report" :has-body="false" :api="apiCompanionSessionReport" :on-click="getCompaionSessionReport"></std-component>
        <std-component name="Get Companion Ongoin Report" :has-body="false" :api="apiCompanionOngoingReport" :on-click="getCompaionOngoingReport"></std-component>
    </div>

    <div v-if="currentNav === 'Circle'">
        <std-component name="Get All Circles" :has-body="false" :api="apiGetAllCircles" :on-click="getAllCircles"></std-component>
        <std-component name="Get Active Circles" :has-body="false" :api="apiGetActiveCircles" :on-click="getActiveCircles"></std-component>
        <std-component name="Create Circle" :has-body="true" :api="apiCreateCircle" :on-click="createCircle" :body="defaultCreateCircle"></std-component>
    </div>

    <div class="row alert alert-dark">
        <div class="col-12">
            <h5>Latest Request</h5>
            {{lastRequest}}
        </div>
    </div>
    <div class="row alert alert-dark">
        <div class="col-12">
            <h5>Latest Response</h5>
            {{lastResponse}}
        </div>
    </div>

</div>

</body>
</html>