// Define colors as variables

$beige: #dee5dc; // beige
$black: #232323; // black

$blue: #6bbfcd; // blue
$lightBlue: #a9dae2; // light blue

$green: #93bd64; // green
$lightGreen: #aed899; // light green

$indigo: #7189dc; // indigo
$lightIndigo: #bcc8f3; // light indigo

$orange: #df7a4b; // orange
$lightOrange: #f3bb94; // light orange

$red: #da494d; // red
$lightRed: #f28386; // light red

$violet: #b07abf; // violet
$lightViolet: #d6b9de; // light violet

$yellow: #edc74f; // yellow
$lightYellow: #f0d98c; // light yellow

$white: #fff; // white