// Define colors as variables

$beige: #dee5dc; /* beige */
$black: #232323; /* black */
$blue: #6bbfcd; /* blue */

$green: #93bd64; /* green */
$lightGreen: #aed899; /* light green */

$indigo: #7189dc; /* indigo */
$orange: #df7a4b; /* orange */
$red: #da494d; /* red */

$violet: #b07abf; /* violet */
$lightViolet: #d6b9de; /* light violet */

$yellow: #edc74f; /* yellow */
$white: #fff; /* white */